<%-include partials/header.ejs%>


<main class="container">
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome to the <%=title%> Page </h1> 
  </div>
  <%-include partials/main_nav.ejs%>
</main>

<div class="container" style="margin-top:30px">
  
<form action="https://formsubmit.co/tutor.eeeng@gmail.com" class="was-validated" method="POST" >
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">First name</label>
      <input type="text" class="form-control " id="validationServer01" placeholder="First name" required>
      <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
    
  
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Last name</label>
      <input type="text" class="form-control " id="validationServer02" placeholder="Last name"  required>
      <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="tutor.eeeng@gmail.com">
        <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      
      </div>
    </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Your Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    
    </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
    </div>
  </div>
  <!--a href="/about"  class="btn btn-primary" type="submit">Submit form</a!-->
  <input onclick="window.location.href = '/index';" type="submit" value="Submit request" />

  
</form>
</div>

<%-include partials/bottom_nav.ejs%>

<%-include partials/footer.ejs%>
  

