<%-include partials/header.ejs%>



<main class="container">
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome to the <%=title%> Page </h1> 
  </div>
  <%-include partials/main_nav.ejs%>
  
  <div class="container" style="margin-top:30px">

    <div class="row">
      <h2> Tutoring Service </h2>
      
        
        <p class="text-justify">
          <h3>  Online Teaching</h3><br>
          <p>	Google Class Room Plus Blackboard<br>
          Create the assessments based on learning outcomes for the modules delivered and those are approved by the relevant universities and external examiners.
          I utilise Google classroom and Blackboard to communicate with students and encourage them to actively participate in weekly quizzes. 
          Currently maintaining the overall quality and closely work with UK counterparts to run the program smoothly. 
          Practicing and developing the student-oriented learning connected method.<br>
          
          •	University of West of England<br>
          •	Signal Processing and circuits <br>
          •	Control<br>
          •	Digital Design<br>
          •	Control Engineering<br>
          •	Digital Signal Processing<br>
          •	Individual Project.<br>
          
          •	University of De-Montfort- Leicester <br>
          •	Advanced Digital Design<br>
          •	Electromagnetics<br>
          •	Applied Electronics<br>
          •	Individual Project<br>
          
          	Canvas Platform <br>
          I have been facilitating course delivery of University of Technology Sydney via online learning modules since 2021 March and using the Canvas Platform to maintain the student interaction, releasing the learning resources and marking and moderating their assessments. <br>
          	Youtube Learning Resource<br>
          •	Developed a You-tube based learning materials for lab practicals and basic concept understanding and its developments.<br>
          •	Lecture Sessions are recorded and shared with the student for further discussion and reference <br><br>
           <h3>Class Room Contact Teaching</h3> <br>
          <p>The Delivery of the modules are divided into a number of small sessions. These include formal lecture, facilitating small group learning ,enhanced support for students with learning difficulties , demonstrations of experiments and interactive practicals.
          I would prefer the session to be lively rather broadcasting in a single tone. I encourage lots of creative ideas based on the subject and ask them to practice on their strength. I conduct workshops to enhance their skills in programming, hardware troubleshooting and other fun activities to engage with them.
          The friendlier approach always help them to reach me at the first point of contact and I could help them wherever possible.</p>  
        </p>
          </p>
        
      <div class="col">
        <div class="embed-responsive ">
          <iframe width="300" height="300" class="embed-responsive-item" src="https://www.youtube.com//embed/hn0eqOQvx1o"></iframe>
        </div></div>
        <div class="col">
        <div class="embed-responsive ">
          <iframe width="300" height="300" class="embed-responsive-item" src="https://www.youtube.com/embed/XHbPp8x1yI8"></iframe>
        </div> </div>
        <div class="col">
        <div class="embed-responsive ">
          <iframe width="300" height="300" class="embed-responsive-item" src="https://www.youtube.com/embed/knpcQgHmIYA" ></iframe> 
        
        </div>
        </div></div>
        <br>
        <h2> Electronic Solution </h2>
        <div class="row">
        
          
          <p class="text-justify">
            o Programmed RFID reader with controls, IOT (Server to reader communication)
           , and internet boot loader programming.<br>
           o Designed and implemented RFID reader antenna based on requirements.<br>
           o Engaged with Linux system administration (RedHat), maintained server,
            database backup, and software installation.<br>
           o Interacted with the client, Garment factory, labour department,
           contractors, consultants, programmers, and software administrators throughout
           the projects.<br>
           o Reviewed program structure and coordinated with other design disciplines. <br>
            o Prepared presentations and animation for clients’ meetings related to RFID
           system implementation, etc. <br>
           </p>
          
        <div class="col-3">
          
        </div>   
    
        <div class="col -6">
          
          <div class="embed-responsive ">
            <iframe width="550" height="300" class="embed-responsive-item" src="https://www.youtube.com/embed?v=j1XXzCuFzfI&list=PLYny285AWtIMc-SUxkRZLtmp9vRkcx1f3"></iframe>
          </div> <br>
        </div>
      </div>
        
        <h2> ART Solution-Sketch-Canvas Painting -Moral ART </h2><br>
        <div class="row">
        <div class="col">
          <div class="container ">
            <h3> Sketch </h3>
            <img src="./Assets/images/sk1.jpg" class="img-rounded" alt="Photo" width="350" height="350"> 
           <br>
          
            <img src="./Assets/images/sk2.jpg" class="img-rounded" alt="Photo" width="350" height="350"> 
          <br>
          
            <img src="./Assets/images/sk3.jpg" class="img-rounded" alt="Photo" width="350" height="350"> 
           <br>
          
            <img src="./Assets/images/sk4.jpg" class="img-rounded" alt="Photo" width="350" height="350"> 
          </div> <br>
        </div>
        <div class="col">
          <div class="container ">
          <h3> Canvas Painting</h3>
            <img src="./Assets/images/Pic.jpg" class="img-rounded" alt="Photo" width="350" height="350"> 
           <br>
          
            <img src="./Assets/images/can1.webp" class="img-rounded" alt="Photo" width="350" height="350"> 
          <br>
          
            <img src="./Assets/images/can2.jpg" class="img-rounded" alt="Photo" width="350" height="350"> 
           <br>
          
            <img src="./Assets/images/can3.jpg" class="img-rounded" alt="Photo" width="350" height="350"> 
            <img src="./Assets/images/can4.jpg" class="img-rounded" alt="Photo" width="350" height="350"> 
          </div> <br>
        </div>
        </div>
        </div>



        </div>
  
  
  </main>
  
  
  
  
  <%-include partials/bottom_nav.ejs%>
  
  <%-include partials/footer.ejs%>
    